.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

button {
  font-size: calc(10px + 2vmin);
}

input{
  margin-top: 10px;
  border-radius: 5px 5px 5px 5px;
  height:30px;
  width:250px;
}

div{
  /* margin-top: 100px; */
  background-size: cover;
  height:98vh;
  background-image: url("https://img.rawpixel.com/s3fs-private/rawpixel_images/website_content/v546batch3-mynt-31-badgewatercolor_1.jpg?w=800&dpr=1&fit=default&crop=default&q=65&vib=3&con=3&usm=15&bg=F4F4F3&ixlib=js-2.2.1&s=e1ee6e84fa2c584170bab2733ea5a1b0");
}

input::placeholder{
  text-align: center;
  font-size: 18px;
  color: rgb(193, 191, 191);
}

#submit{
width: 150px;
border: none !important;
background-color:black !important;
color:white !important;
}

#submit:hover{
 
  background-color:white !important;
  color:black !important;
  }